
%bgBackgrndProps {
    height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

$bgTextColor: rgb(158, 158, 158);

#bgBackgrnd {
    @extend %bgBackgrndProps;
    background-image: url('/app/bin/Images/blog-imgs/blog-lev-front.png');
}

#bgTitleRow {
    background: white;
    position: relative;
    height: 35px;
}

#bgTitle {
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -200px;
}

#bgContent {
    background: white;
    padding: 0 25px 25px;
    margin-bottom: 50px;

    h1 { //blog post title
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin-top: 70px;
    }

    h2 { //date of blog post
        font-style: italic;
        margin-top: 25px;
        margin-bottom: 30px;
        color: #434343;
    }

    h3 { //any sub-headings
        //font-size: 25px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    p { //the blog text
        color: $bgTextColor;
        line-height: 27px;
        letter-spacing: 1.35px;
        font-size: 15px;
        margin-bottom: 30px;
    }

    img {
        margin-bottom: 30px;
        border-radius: 7px;
        //box-shadow: 0 0 20px 20px white inset;
    }

    .imageCaptions {
        font-style: italic;
        color: $bgTextColor;
        margin-bottom: 30px;
    }

    .col-md-6 { //padding for text with the alternating side pic and text structure
        p {
            padding-top: 10%;
        }
    }
}

//each post is given certain styling.
#bgContent > .col-md-8 > .row {
    margin-bottom: 60px;
    padding: 30px 50px;
    box-shadow: 8px 10px 20px 5px #575757;
}
//every other post is given different styling. these have class black (different background/box-shadow, etc).
#bgContent > .col-md-8 > .black {
    margin-bottom: 60px;
    padding: 30px 50px;
    box-shadow: -8px 10px 20px 5px #848484;
    background: #e1e1e1;

    p {
        color: #646464;
    }
}
