@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/* First Face */
#homeFirstFace {
    text-align: center;
}

.homeFirstFace {
    margin-bottom: 20px;
}

#goose2LrnMore-btn {
    @include border-radius(0px);
    outline: none;
    color: #4e96c9;
    font-size: 18px;
    font-weight: bold;
    background: rgba(40, 112, 163, 0.3);
    border: none;
    border-bottom: thick solid #206393;
}


/* MIDFACE n ENDFACE*/

$home-titles: #39abff;

#homeMidFace > div {
    @extend .homeFirstFace;
}

.homeTitles {
    margin-top: 60px;
    color: $home-titles;
    font-size: 30px;
    font-weight: 900;
}

.watchVidPrompts {
    color: white;
    font-size: 23px;
    font-weight: 550;
}

#alignRtBlock  {
    text-align: right;
    padding-top: 80px;
}