@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


#homeBackgrnd {
    background-image: url('/app/bin/Images/train-in-tube-front.jpeg');
    height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




/* First Face */
#homeFirstFace {
    text-align: center;
}

.homeFirstFace {
    margin-bottom: 20px;
}

#homeFirstFace-image {
    margin-left: 240px;
}

#g2LrnMore {
    @include border-radius(0px);
    outline: none;
    color: #4e96c9;
    font-size: 18px;
    font-weight: bold;
    background: rgba(40, 112, 163, 0.3);
    border: none;
    border-bottom: thick solid #206393;
}


/* MIDFACE n ENDFACE*/

$home-titles: #39abff;

#homeMidFace > div {
    @extend .homeFirstFace;
}

.homeTitles {
    margin-top: 60px;
    color: $home-titles;
    font-size: 30px;
    font-weight: 900;
    // margin-left: 80px;
    // margin-right: 80px;
}

.watchVidPrompts {
    color: white;
    font-size: 23px;
    font-weight: 550;
    // margin-left: 80px;
    // margin-right: 80px;
}

#alignRtBlock  {
    text-align: right;
    padding-top: 80px;
}