#navbar {
    padding: 25px 0;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;
    user-select: none;
}

#navbar-brand {
    margin-top: -15px;
    margin-left: 0px;
}

#navbar-items {
    margin: auto;
    float: none;

    a {
        font-size: 17px;
    }
}

//makes sure dropdown menu items are not bolded.
#navbar-items > ul > li > a {
    font-weight: bold;
}