#navbar {
    padding: 20px 0;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;

    a {
        
    }
}

#navbar-brand {
    margin-top: -15px;
    margin-left: 0px;
}

#navbar-items {
    margin: auto;
    float: none;

    a {
        font-size: 17px;
    }
}