#navbar {
    border: none;
    background: black;
    text-align: right;
}

#navbar-brand {
    padding: 15px;
    margin-left: 0px;
}

#navbar-items {
    width: 45%;
    margin: auto;
    float: none;
    /*padding: 0 30%;*/
}