/*Some below (such as .thumbnail) are classes that you would use in regular
bootstrap in your HTML, not react-bootstrap (.thumbnail becomes <Thumbnail/>). The
react components are compiled by Babel into regular HTML and javascript. That is why
you see classes below that have not been explicitly defined in the modules*/

#teamBackground {
    height: 700px;
    background-image: url("http://placehold.it/1100x600");
}

#ourTeamTitle {
    color: white;
    font-weight: 900;
}

#captainRow {
    background: white;
    position: relative;
}

#captainJake {
    float: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
}

#membersWrapper {
    background: white;
}

/*the Thumbnail component translates into the thumbnail class in regular bootstrap*/
.thumbnail {
    border: none;
    text-align: center;
}


