%teamBackgrndProps {
    height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#teamBackground {
    @extend %teamBackgrndProps;
    background-image: url("/app/bin/Images/team-photo.jpg");
}

#captainRow {
    background: white;
    position: relative;
    height: 320px;
}

#ourTeamTitle {
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -180px;
}

#captainJake {
    float: none;
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    top: -110px;
}

#membersWrapper {
    background: white;
}

/*the Thumbnail component translates into the thumbnail class in regular bootstrap*/
.thumbnail {
    border: none;
    text-align: center;
}


