#teamBackground {
    height: 700px;
    background-image: url("http://placehold.it/1100x600");
}

#captainDiv {
    text-align: center;
    margin-top: 15px;
}

#jakeBox {
    margin-left: auto;
    margin-right: auto;
}